* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: 'Ubuntu';
    max-width: 100%;
    flex-flow: wrap;
    text-decoration: none;
    box-sizing: border-box;
}


header nav {
    display: flex;
    justify-content: space-between;
    background-color: #2E948A;
    height: 117px;
    box-shadow: 5px 5px 10px #C4C4C4;
    
}

#logo-header { 
    margin-top: 5%;
    width: 250px;
    height: 75px;
         
}

header a{
    color: #FDFDFD;
}

nav ul {
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;  
    margin-top: 1.6%; 
}

li {
   
    font-size: 28px;
    padding-right: 42px;
    font-weight: 700;
}

.forms {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    
   
    
   
}

.div-img{
    height: 680px;
}

#img-contato{
  width: 570px;
  height: 650px;
 
  
}

.fomulario {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    border: 1px solid #58555D;
    height: 650px;
    width: 1000px;
    border-radius: 20px;
    
}

h1 {
    color: #FF4081;
    font-size: 50px;
    font-weight: 600;
    margin-left: 40px;
    margin-bottom: 50px;
    margin-top: 20px;
}

input {
    font-size: 24px;
    text-indent:5%;
    border:1px solid #686868;
    margin-bottom: 23px;
    border-radius: 7px;
    width: 700px;
}

#nome,#email,#mensagem {
    margin-left: 40px;
}

#nome,#email {
    height: 40px;
}

#mensagem {
    height: 350px;
}

#enviar {
    display: inline-block;
    border: none;
    font-size: 24px;
    font-weight: 600;
    color: #FDFDFD;
    border-radius: 67px;
    background-color: #FF4081;
    width:200px;
    height: 45px;
    margin-left: 6%;
    margin-top: 1%;
    margin-bottom: 2%;
    cursor: pointer;
}


footer {
    background-color: #2E948A;
    display: flex;
    height: 185px;   
}

footer img {
    margin-top: 2%;
}

.links-footer {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    font-size: 27px;
    font-weight: 700;
    
}

footer a {
    color: #F6F6F6;
    margin-bottom: 5%; 
}


.links-footer2 {
    display: flex;
    flex-direction: column; 
    text-align: center;
    margin-top: 2.2%;    
}

.links-footer2 a {
    border: 2px solid #F6F6F6;
    border-radius: 62px;
    padding: 7px 65px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: 2%;
    right: 25%;
    margin-bottom: 5%;
    transition: 600ms;
}

.links-footer2 a:hover {
    background-color: #F6F6F6;
    color: #2E948A;
}



@media (max-width:850px){

    nav ul {
        margin-top: 4.5%;
        
    }
    
    ul li{
        font-size: 28px;
    }
    
    .pessoa{
        width: 58px;
    }
    
    footer {
        display: flex;
        flex-flow: column;
        height: 500px;
        box-shadow: 0px 0px 4px #C4C4C4;
        margin: 0 auto;
        
    }
    
    
    .links-footer{
        font-size: 28px;
        margin-left: 47%;
    }
    
    .links-footer2{
        margin-left: 41%;
        
    }
    
    .links-footer2 a {
        font-size: 27px;
        
    }
    
    .forms{
        display: flex;
    }

    .fomulario input {
        width: 575px;
    }

    .fomulario{
        width: 650px;
        margin: auto;
        margin-top: 10%;
    }

    #enviar{
        margin-left: 33%;
        font-size: 40px;
        width: 250px;
        height: 50px;
    }
    
    }


@media(max-width:500px){

    
    #logo-header{
    width: 150px;
    height: 65px;
    }    

    nav ul {
        position: absolute;
        top: 9%;
        left: 16%;
    }
        
    ul li {
        color: #F6F6F6;
        margin: 0px;
        padding: 0px;
       font-size: 20px;
       padding-left: 15px;
       padding-right: 15px;
       
    }    

    .forms {
        display: flex;
        justify-content: center;
        margin-top: 15%;
        width: 500px;
        
       
    }
    
    .div-img{
        height: 350px;
    }
    
    #img-contato{
      width: 350px;
      height: 320px;
     
      
    }
    
    .fomulario {
        width: 305px;
        height: 520px;
       
    }

    .fomulario input {
        width: 275px;
    }
    
    h1 {
        color: #FF4081;
        font-size: 38px;
        font-weight: 600;
        margin-left: 15px;
        margin-bottom: 50px;
        margin-top: 20px;
    }
    
    input {
        font-size: 20px;
        text-indent:5%;
        border:1px solid #686868;
        margin-bottom: 23px;
        border-radius: 7px;
        width: 199px;
    }
    
    #nome,#email,#mensagem {
        margin-left: 13px;
    }
    
    #nome,#email {
        height: 40px;
    }
    
    #mensagem {
        height: 240px;
        font-size: 16px;
        text-indent: 2%;
    }
    
    #enviar {
        display: inline-block;
        border: none;
        font-size: 24px;
        font-weight: 600;
        color: #FDFDFD;
        border-radius: 67px;
        background-color: #FF4081;
        width:200px;
        height: 45px;
        margin-left: 23%;
        margin-top: 2%;
        margin-bottom: 15%;
        cursor: pointer;
    }

    footer {
        height: 600px;
        box-shadow: 0px 0px 4px #C4C4C4
    }
    
    
    .links-footer{
        font-size: 28px;
        margin-left: 38%;
    }
    
    .links-footer2{
        margin-left: 35%;
        
    }
    
    .links-footer2 a {
        font-size: 14px;
    }
} 

